.p-contenedor {
    color: green;
}

body section.main .contenedor p {
    color: darkred;
    font-weight: bold;
}

.contenedor #boton-contenedor {
    background-color: yellow;
}

#boton-contenedor {
    background-color: blueviolet;
}