/* https://codepen.io/enxaneta/full/adLPwv */

.contenedor {
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem; /* items separados entre si */
    min-height: 5rem;  /* altura minima */
    /* Eje principal */  /* utiliza la propiedad justify */
    justify-content: space-around;

    /* Eje secundario */  /* utiliza la propiedad align-items */
    align-items: center;

    /* flex-direction: column; */

    flex-wrap: wrap;  /* envuelve y acomoda los elementos para mantener su tamaño */
}

.item {
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem;
}

.item2 {
    align-self: stretch; 
}
